header {
    color: white; background-color:rgb(17, 163, 115);
    padding: 20px;
}

header h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: #43919B; color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#P1 {
color: whitesmoke;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
    grid-column: 1/4;
    background-color: #30AADD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside{
    background-color: bisque;
    color: white;
    padding: 30px;
    grid-column: 4/5;
}

footer {
background-color: rgb(17, 163, 115);
color: white;
text-align: center;
padding: 10 px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}