header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white; background-color:rgb(17, 163, 115);
    padding-left: 40px;
    padding-bottom: 5px;
}

#logoimage{
    padding: 40px;
}

body {
    background-color: #CCC;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: rgb(26, 27, 27); color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20 px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 740px;
    height: 56px;
    list-style-type: none;
}   

.menu>li{
    float: left;
}

.menu>li a{
    background-color: rgb(26, 27, 27);
    color: white;
    text-decoration: none;
    padding: 20px 56px;
    display: block;
}

.menu li a:hover{
    background-color: rgb(17, 163, 115);
}

.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}

#P1 {
color: black;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article {
    grid-column: 1/4;
    background-color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: black;
    padding-left: 40px;

}

aside{
    background-color: bisque;
    color: white;
    padding: 10px;
    grid-column: 4/5;
}

footer {
background-color: rgb(17, 163, 115);
color: white;
text-align: center;
padding: 10 px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}